.openAItestButton {
    background: radial-gradient(green, yellowgreen);
    padding: 0.5rem;
    cursor: pointer;
}

.openAItestButton:hover {
    background: radial-gradient(green, greenyellow);

}

.openAItestResponse {
    background: linear-gradient(grey -100%, black 50%, grey 200%);
    color: white;
    padding: 1rem;
}

.speakButton {
    padding: 1rem;
    font-size: 1rem;
    background-color: rgb(0, 20, 80);
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

@keyframes blinking {
    from {opacity: 100%;}
    to {opacity: 0%;}
}