.openAItestContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: linear-gradient(grey -200%, black);
    border-radius: 1rem;
    padding: 1rem;
    max-width: 1200px;
}

@media (min-width: 768px) {
    .openAItestContainer {
        width: 80%;
    }
}

@media (min-width: 1024px) {
    .openAItestContainer {
        width: 70%;
    }
}

.openAItestInput {
    width: 100%;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

.openAItestButton {
    background: radial-gradient(green, yellowgreen);
    padding: 0.5rem;
    cursor: pointer;
}

.openAItestButton:hover {
    background: radial-gradient(green, greenyellow);

}

.openAItestResponse {
    background: linear-gradient(grey -100%, black 50%, grey 200%);
    color: white;
    padding: 1rem;
}

.speakButton {
    padding: 1rem;
    font-size: 1rem;
    background-color: rgb(0, 20, 80);
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

@keyframes blinking {
    from {opacity: 100%;}
    to {opacity: 0%;}
}