.page {
  position: relative;
  background: linear-gradient(skyblue -100%, black 200%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.header {
  color: white;
  padding: 1rem;
  background-image: linear-gradient(transparent, black, transparent);
  width: 100%;
  text-align: center;
}

.linksContainer {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

.linkCard {
  background: linear-gradient(to top right,black,  rgb(42, 50, 87), black);
  border-radius: 12px;
  padding: 1.5rem;
  width: 220px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  border: solid 3px hsla(0, 0%, 100%, 0.5);
}


.linkCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
  background: linear-gradient(to top right, black,  rgb(15, 77, 128), black);
}

.linkCard h2 {
  margin-bottom: 0.5rem;
}

.linkCard p {
  color: #ffffff;
}
