.page {
  position: relative;
  background: rgb(95, 83, 83);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.header {
  color: white;
  margin: 1rem;
}
